# fly.toml app configuration file generated for clawquest-mmo on 2026-02-08T07:23:59+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'clawquest-mmo'
primary_region = 'iad'

[build]

[env]
  DATA_DIR = '/data'
  NODE_ENV = 'production'

[[mounts]]
  source = 'clawquest_data'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
